@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

:root {
  --grey: #4a4949;
  --white: #ffffff;
  --green: #a6c196;
  --black: #000000;
}

body {
  background: var(--grey);
  color: #ffffff;
  font-family: "Open Sans";
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #a6c196;
}
.content {
  /* max-width: 960px; */
  /* took this off as it was messing witht the nav and hero! */
  margin: 0 auto;
}

section {
  max-width: 960px;
}

nav {
  padding: 10px 40px 10px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #ddd; */
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

nav a {
  margin-right: 30px;
  font-weight: 600;
}
/* nav .logo {
  
 
} */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #ffffff;
  border-top: 1px solid #eaeaea;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: #a6c196;
  text-decoration: underline;
}

.logocolor {
  color: white;
}

ul {
  list-style: none;
}

.btn {
  border-radius: 35px;
  cursor: pointer;
}

label {
  margin-right: 2em;
}

select {
  margin-bottom: 3em;
}
