.title {
  color: #ffff;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #ffff;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #a6c196;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.logocolor{
  filter: invert(1);
  
}


.home_hero{
  width: 100%;
  height: 100vh;
  max-width: none;
  /* position: absolute;
  top: 9rem;
  left: 0; */
  background-image: url('/foofesthero.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

/* .home_hero img{
   position: absolute;
  top: 9rem;
  left: 0;
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  z-index: -1; 

} */

.home_hero h1{
  font-size: 8vw;
  margin: 1vw;
  color: rgba(225, 225, 225, 0.5);
  line-height: 8vw;

}

.home_hero h3{
  font-size: 2vw;
  margin: 0;
  color: rgba(225, 225, 225, 0.5);
}

.home_hero .btn{
  margin: 0 0 12vw 0;
  padding: 1.5vw;
  font-size: 2vw;
  font-weight: 600;
  width: auto;
  border-radius: 35px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;

}

.btn:hover{
  background-color: #677B5B ;
  /* maybe something cooler than this lmao, like a 'hover' effect */

}

nav .btn{
  /* has to be styled in here and not global for some reason */
  background-color: var(--white);
  padding: 5px;
  width: 80px;
  margin: 0;
  border-radius: 30px;
  color: var(--black);
}