.timer{
    font-size: 1rem;
    font-weight: 600;
}

.timercontainer{
    background-color: var(--black);
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.timertext{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;

}